@font-face {
  font-family: "Wix Madefor Display";
  src: url(../Fonts/WixMadeforDisplay/WixMadeforDisplay-Regular.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Unbounded";
  src: url(../Fonts/Unbounded/Unbounded-Regular.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Unbounded1";
  src: url(../Fonts/Unbounded/Unbounded-Bold.ttf);
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1rem 1rem 0 1rem;
}
.nav .nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0px;
  text-align: center;
}
.nav .nav__menu .show-menu {
  display: none;
}
.nav .nav__menu .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__menu .nav__list .close_menu {
  display: none;
}
.nav .nav__menu .nav__list .nav__item {
  list-style: none;
}
.nav .nav__menu .nav__list .nav__item .nav__link {
  color: #666666;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  color: rgba(0, 0, 0, 0.5960784314);
}
.nav .nav__menu .nav__list .nav_list_btn {
  display: none;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  border: none;
  background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 18px;
}
.nav .nav__menu .lang_option {
  background: none;
  border: 2px;
  margin-right: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6509803922);
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0.4784313725);
  padding: 5px 7px;
  border-radius: 10px;
  margin-left: 30px;
}
.nav .nav__menu .open_menu {
  background: none;
  border: none;
  outline: none;
  display: none;
  font-size: 35px;
  font-weight: 500;
}
.nav .nav__menu .custom-btn {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  border: none;
  background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 18px;
}

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.home .home_left .home_title {
  max-width: 650px;
  font-size: 55px;
  min-height: 0;
  color: #093fb3;
  font-family: "Unbounded1";
}
.home .home_left .home_info {
  max-width: 400px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #272121;
  margin-top: 20px;
}
.home .home_left .home_btn {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  border: none;
  background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
.home .home_right .home-image {
  width: 550px;
  height: 420px;
}

.about {
  width: 100%;
  flex-wrap: wrap;
  padding: 100px 0 100px 0;
}
.about h1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 22px;
  color: #020c31;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
}
.about .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}
.about .row .about_cards {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about .row .about_cards img {
  margin-bottom: 20px;
}
.about .row .about_cards .about_card_title {
  height: 100px;
  max-width: 360px;
  color: #020c31;
  font-family: Unbounded;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about .row .about_cards .about_card_text {
  width: 300px;
  color: #676d83;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.clean_card {
  background-image: url(../images/disinfection-sanitization-spraying-900x450.png);
  width: 90%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px 25px;
  display: flex;
  align-items: center;
  display: flex;
  border-radius: 16px;
}
.clean_card .clean_info h2 {
  max-width: 558px;
  color: #fafafa;
  font-family: "Unbounded1";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 20px;
}
.clean_card .clean_info p {
  max-width: 310px;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 60px;
}
.clean_card .clean_info .clean_btn {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  border: none;
  background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 18px;
}

.services {
  padding: 60px 0;
}
.services h1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #020c31;
  font-family: "Unbounded";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.services .service_info {
  max-width: 335px;
  color: #666;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 25px 0 40px 0;
}
.services .services_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services .services_cards .services_card {
  width: 100%;
  padding: 20px 10px;
  border: 2.3px solid rgba(2, 12, 49, 0.3647058824);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.services .services_cards .services_card img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .services_cards .services_card .services_right {
  max-width: 900px;
  margin-left: 20px;
}
.services .services_cards .services_card .services_right .services_title {
  color: #020c31;
  font-family: "Unbounded";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 10px;
}
.services .services_cards .services_card .services_right .services_text {
  color: #495157;
  font-family: "Unbounded";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 20px;
  padding: 0 10px;
}

.faq {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid rgba(204, 204, 204, 0.8);
  padding: 40px 0 100px 0;
}
.faq .faq-left {
  position: relative;
}
.faq .faq-left h2 {
  position: absolute;
  color: #020c31;
  font-family: Unbounded;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  top: 0px;
  line-height: 48px;
}
.faq .accordion {
  min-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(204, 204, 204, 0.8);
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}
.faq .accordion .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
}
.faq .accordion .accordion-header h3 {
  color: #676d83;
  font-family: "Unbounded";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.faq .accordion .accordion-header span {
  min-width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  margin-left: 25px;
}
.faq .accordion .accordion-header span.active {
  transform: rotate(180deg);
}
.faq .accordion .accordion-content {
  width: 750px;
  color: #676d83;
  font-family: "Unbounded";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 0 10px;
}

.cleaner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 585px;
  border-radius: 16px;
  background: radial-gradient(498.32% 130.33% at 92.87% 11.25%, #33A9FF 0%, #33FFF3 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  margin-bottom: 70px;
}
.cleaner .cleaner_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.cleaner .cleaner_right {
  width: 50%;
  padding: 25px;
}
.cleaner .cleaner_right img {
  margin-bottom: 5px;
}
.cleaner .cleaner_right h3 {
  max-width: 643px;
  color: #fafafa;
  font-family: "Unbounded1";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-top: 12px;
  margin-bottom: 50px;
}
.cleaner .cleaner_right .cleaner_btn {
  width: 170px;
  height: 60px;
  border-radius: 25px;
  text-align: center;
  border: none;
  background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 18px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 70px;
  margin-top: 100px;
  margin-bottom: 80px;
  border-top: 1.4px solid rgba(11, 11, 77, 0.5);
}
.footer .footer-left {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin: 25px 0;
}
.footer .footer-left .footer-image {
  width: 100%;
  height: 100%;
}
.footer .footer-right {
  margin-left: 150px;
}
.footer .footer-right .footer-link {
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #000;
}
.footer .footer-right .footer-link .footer-icon {
  display: flex;
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CCC;
  margin-right: 15px;
}
.footer .footer-right .footer-link .footer-info {
  margin-top: 15px;
  color: rgba(36, 40, 37, 0.8);
  font-size: 16px;
  font-style: normal;
  font-family: "Wix Madefor Display";
}
.footer .footer-right .footer-link .footer-right-icon {
  margin-left: 10px;
  font-size: 30px;
}

@media (max-width: 1200px) {
  .home {
    background: linear-gradient(65deg, rgba(134, 132, 132, 0.616), rgba(0, 0, 0, 0.205)), url(../images/Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
  }
  .home .home_left .home_title {
    font-size: 65px;
    color: #fff;
  }
  .home .home_left .home_info {
    color: #ffffe8;
  }
  .home .home_right {
    display: none;
  }
  .about .row .about_cards {
    width: 300px;
    border: 2.3px solid rgba(204, 204, 204, 0.5764705882);
    padding: 14px;
    height: 350px;
    border-radius: 15px;
    margin-top: 20px;
  }
  .about .row .about_cards .about_card_title {
    max-width: 360px;
    font-size: 22px;
  }
  .about .row .about_cards .about_card_text {
    width: 300px;
    font-size: 14px;
  }
  .clean_card .clean-card-right {
    width: 0%;
  }
  .clean_card .clean_info {
    width: 100%;
  }
  .clean_card .clean_info h2 {
    max-width: 100%;
    font-size: 60px;
  }
  .clean_card .clean_info p {
    max-width: 400px;
    color: #ebe1e4;
    font-size: 24px;
  }
  .clean_card .clean_info .clean_btn {
    width: 240px;
    height: 80px;
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    border-top: 0;
  }
  .faq .faq-left {
    margin-bottom: 100px;
  }
  .faq .faq_right {
    width: 969px;
  }
  .faq .faq_right .accordion {
    min-width: 970px;
  }
}
@media screen and (max-width: 970px) {
  .cleaner .cleaner_image {
    display: none;
  }
  .cleaner .cleaner_right {
    width: 100%;
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    border-top: 0;
  }
  .faq .faq-left {
    margin-bottom: 100px;
  }
  .faq .faq_right {
    width: 768px;
  }
  .faq .faq_right .accordion {
    min-width: 750px;
  }
  .faq .faq_right .accordion .accordion-header h3 {
    font-size: 22px;
  }
  .faq .faq_right .accordion .accordion-content {
    font-size: 20px;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .about .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .row .about_cards {
    width: 350px;
  }
  .about .row .about_cards .about_card_title {
    font-size: 24px;
  }
  .about .row .about_cards .about_card_text {
    font-size: 16px;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .services .services_cards .services_card {
    display: flex;
    flex-direction: column;
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    border-top: 0;
  }
  .faq .faq-left {
    margin-bottom: 100px;
  }
  .faq .faq_right {
    width: 575px;
  }
  .faq .faq_right .accordion {
    min-width: 500px;
  }
  .faq .faq_right .accordion .accordion-header h3 {
    font-size: 18px;
  }
  .faq .faq_right .accordion .accordion-header span {
    min-width: 40px;
    height: 40px;
  }
  .faq .faq_right .accordion .accordion-content {
    font-size: 18px;
    padding: 10px;
  }
  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer .footer-right {
    margin-left: -200px;
  }
}
@media screen and (max-width: 576px) {
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    border-top: 0;
  }
  .faq .faq-left {
    margin-bottom: 100px;
  }
  .faq .faq_right {
    width: 460px;
  }
  .faq .faq_right .accordion {
    min-width: 300px;
  }
  .faq .faq_right .accordion .accordion-header h3 {
    font-size: 18px;
  }
  .faq .faq_right .accordion .accordion-header span {
    min-width: 40px;
    height: 40px;
  }
  .faq .faq_right .accordion .accordion-content {
    font-size: 16px;
    padding: 10px;
  }
  .footer {
    margin-left: 50px;
    border-top: 0;
    margin-top: 40px;
  }
}
@media screen and (max-width: 462px) {
  .nav .nav__logo img {
    width: 150px;
  }
  .nav .nav__menu .lang_option {
    background: none;
    border: 2px;
    margin-right: 30px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6509803922);
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.4784313725);
    border-radius: 10px;
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    border-top: 0;
  }
  .faq .faq-left {
    margin-bottom: 100px;
  }
  .faq .faq_right {
    width: 400px;
  }
  .faq .faq_right .accordion {
    min-width: 300px;
  }
  .faq .faq_right .accordion .accordion-header h3 {
    font-size: 16px;
  }
  .faq .faq_right .accordion .accordion-header span {
    min-width: 40px;
    height: 40px;
  }
  .faq .faq_right .accordion .accordion-content {
    font-size: 16px;
    padding: 10px;
  }
  .footer {
    border-top: 0;
    margin-left: 150px;
  }
}/*# sourceMappingURL=main.css.map */